#footer {
  background-color: #000000;
  margin-top: 50px;
}

#footer .container {
  text-align: left;
  display: block;
  border: none;
}

#footer .container {
  padding-top: 10px;
}

#footer a:link {
  text-decoration: none;
  color: inherit;
}

#footer .fa {
  font-size: 20px;
  margin-left: 10px;
}

#footer span {
  margin: 0px 50px 0px 0px;
}

#footer a:active {
  text-decoration: none;
  color: inherit;
}

#footer .share-social {
  display: inline-block;
  margin-left: -5px;
}

#footer .share-social span {
  font-size: 16px;
}

#footer p a:link {
  margin: 5px;
  padding: 5px;
}

#footer span b:first-child {
  display: inline-block;
  padding-bottom: 10px;
}

#footer img {
  height: 24px;
  width: auto;
}

#footer .col-lg-9 {
  text-align: right;
}

#social_button {
  padding-top: 5px;
  font-weight: 600;
}

#footer #top-button {
  position: relative;
  float: right;
  right: 0px;
  padding: 25px 25px 22.5px 20px;

  margin: -6px 0px 0px 0px;
  color: inherit;
  z-index: 999;
}

#footer .hide-bar {
  padding: 0px;
  margin: 0px;
}

.coming-soon {
  padding-top: 15%;
  padding-bottom: 10%;
}

@media (max-width: 992px) {
  #footer .col-lg-9 {
    text-align: left;
  }

  #footer .footer-details {
    padding-bottom: 15px;
  }

  #footer .share-social span {
    font-size: 12px;
  }

  #footer .fa {
    font-size: 16px;
  }

  #footer #top-button {
    padding: 63px 20px 57px 20px;
    margin-top: -6.8px;
  }

  #footer #top-button .fa {
    font-size: 20px;
  }

  #footer .copyright {
    padding-top: 10px;
  }

  #footer .hide-bar {
    visibility: hidden;
  }

  #footer #dev-credits {
    display: block;
    padding-top: 5px;
  }

  .coming-soon {
    padding-top: 35%;
    padding-bottom: 20%;
  }
}

#footer i {
  font-size: 18px;
}
